@import "tailwindcss";
@import "tw-animate-css";

@import "@bun-ui/react/themes/default.css" layer(theme);

@source "../../node_modules/@bun-ui/react/dist/";

[data-rehype-pretty-code-figure] code {
  background: transparent;
}

[data-rehype-pretty-code-figure] [data-line] {
  padding: 0.25rem 0.5rem;
}

pre code {
  font-size: 0.875rem;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: hsl(var(--border));
  border-radius: 5px;
}
* {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--border)) transparent;
}

@custom-variant dark (&:where([class*="dark"] *, [data-theme*="dark"] *));

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .container-wrapper {
    @apply mx-auto w-full max-w-[1400px] min-[1800px]:max-w-screen-2xl;
  }

  .container {
    @apply mx-auto max-w-screen px-4 xl:max-w-screen-2xl xl:px-6;
  }
}

:root {
  --header-height: 60px;
}

@theme {
  --font-sans: "Roboto", sans-serif;
  --font-geist: "Geist", sans-serif;
  --font-general-sans: "General Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-geist);
}

.brand-font {
  font-family: var(--font-general-sans);
  font-weight: 600;
}
